### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

In [1]:
print('Data', 'Science', 'Mentorship', 'Program', 'started', 'By', 'CampusX', sep=' - ')

Data - Science - Mentorship - Program - started - By - CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
c=float(input('enter celsius value'))
f=(c*9/5)+32 #f=fahrenheit
print(f)

41.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [6]:
num1=int(input('enter first number'))
num2=int(input('enter second number'))
print('Before swapping: num1=',num1,' num2=',num2)
#swapping logic without using third variable
num1=num1+num2
num2=num1-num2
num1=num1-num2
print('After swapping: num1=',num1,' num2=',num2)
num1,num2= num2,num1
print('After swapping using tuple: num1=',num1,' num2=',num2)
num1=num1+num2 - (num2:=num1)
print('After swapping using walrus operator: num1=',num1,' num2=',num2)

Before swapping: num1= 52  num2= 58
After swapping: num1= 58  num2= 52
After swapping using tuple: num1= 52  num2= 58
After swapping using walrus operator: num1= 58  num2= 52

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [14]:
print('enter first coordinate (x1,y1)')
x1=int(input('enter x1'))
y1=int(input('enter y1'))
print('You entered first coordinate as (',x1,',',y1,')')
print('enter second coordinate (x2,y2)')
x2=int(input('enter x2'))
y2=int(input('enter y2'))
print('You entered second coordinate as (',x2,',',y2,')')
distance=((x2-x1)**2 + (y2-y1)**2)**0.5
print('Distance between points (',x1,',',y1,') and (',x2,',',y2,') is:',distance)

enter first coordinate (x1,y1)
You entered first coordinate as ( 5 , 8 )
enter second coordinate (x2,y2)
You entered second coordinate as ( 7 , 4 )
Distance between points ( 5 , 8 ) and ( 7 , 4 ) is: 4.47213595499958

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [15]:
principle=float(input('enter principle amount'))
rate=float(input('enter rate of interest')) 
time=float(input('enter time in years'))
simple_interest=(principle*rate*time)/100
print('Simple Interest is:',simple_interest)

Simple Interest is: 0.4

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [16]:
legs=int(input('enter number of legs'))
heads=int(input('enter number of heads'))
dogs=(legs-2*heads)//2
chickens=heads-dogs
print('Number of dogs:',dogs)
print('Number of chickens:',chickens)

Number of dogs: 2
Number of chickens: 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [17]:
num=int(input('enter a number'))
sum=(num*(num+1)*(2*num+1))/6
print('Sum of squares of first',num,'natural numbers is:',sum)

Sum of squares of first 4 natural numbers is: 30.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [18]:
first_term=int(input('enter first term of AP'))
second_term=int(input('enter second term of AP'))
diff=second_term-first_term
n=int(input('enter the position of the term you want to find'))
n_th_term=(n-1)*diff + first_term
print('n-th term of AP is:',n_th_term)

n-th term of AP is: 96

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [19]:
num1=int(input('enter first numerator'))
deno1=int(input('enter first denominator'))
num2=int(input('enter secon numerator'))
deno2=int(input('enter second denominator'))
#addition of two fractions
num_sum=num1*deno2+num2*deno1
deno_sum=deno1*deno2
print('sum of two fraction is :',num_sum,'/',deno_sum)

sum of two fraction is : 107 / 40

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.

Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [21]:
print('enter the dimension of milk tank')
height_t=float(input('enter height of milk tank'))
width_t=float(input('enter width of milk tank'))
length_t=float(input('enter length of milk tank'))
volume_of_milk_tank=height_t*width_t*length_t
print('Volume of milk tank is:',volume_of_milk_tank)
print('enter the dimension of glass')
height=float(input('enter height of glass'))
radius=float(input('enter radius of glass'))
volume_of_glass=3.14*radius**2*height
print('Volume of glass is:',volume_of_glass)
number_of_glasses=volume_of_milk_tank//volume_of_glass
print('Number of glasses required to fill the milk tank is:',number_of_glasses)

enter the dimension of milk tank
Volume of milk tank is: 6000.0
enter the dimension of glass
Volume of glass is: 12.56
Number of glasses required to fill the milk tank is: 477.0